
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_LayoutIrmc.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>chart</title>
</head>
<body>
    <div>

        <img src="@Url.Action("Chart")" style="width:30px;height:30px;margin-left:750px" />
    </div>
</body>
</html>

